.none {
    display: none;
}
.presentation {
    padding: 0px 7.5% 35px 7.5%;
    text-align: justify;
}
.presentation p {
    margin: 15px 0px 15px 0px;
}
.intro {
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}