.p-scroll-section {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: #1A1A1A;
    padding-bottom: 15px;
}
/* (grey background) */
.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
}
/* (scroll indicator) */
.progress-bar {
    height: 8px;
    background: #DCC05C;
    width: 0%;
} 