body {
    color: #E9E9E9;
    background-color: #1A1A1A;
}

nav li {
    color: #C3C0B9;
}
nav ul li:hover {
    color: #E9C078;
}

span {
    color: #C3C0B9;
}

h1 {
    color: #E9C078;
}

.presentation h3 {
    color: #E9C078;
    margin: 40px 0px 20px 0px;
    text-transform: uppercase;
}

// visit section
.b-img {
    color: black;

}
.horaires, .bloc-gauche {
    background: rgba(217, 217, 217, 0.62);
}
.l1 {
    background-color: #DCC05C;
    color: black;
}
.l73 {
    background-color: #523D32;
}

//  footer
footer {
    background-color: black;
}
hr {
    background-color: #EAEAEA;
}
footer p {
    color: #E9C078;
}
.socials i {
    color: #EAEAEA;
}
.socials i:hover {
    color: #E9C078;
}